$grey-bg: darken(white, 25%);

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.tool {
  color: white;
  font-size: 35px;
  height: 40px;
  width: 40px;
  padding: 5px 5px;
  text-align: center;
}

#tools {
  display: flex;
  .tool {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    &.active {
      background-color: #777;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}

#main {
  flex-grow: 1;
  display: flex;
}

#toolbox {
  flex: 1 0 0;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

#properties {
  flex: 1 0 0;
}

.front-color, .back-color {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.color-wrapper {
  width: 55px;
  height: 30px;
  background-image: url('../img/trans-bg.png');
  .colorpicker {
    width: 55px;
    height: 30px;
    border: 3px solid;
    box-sizing: border-box;
  }
}

.line-width-wrapper {
  display: flex;
  justify-content: space-between;
  #line-width-number {
    box-sizing: border-box;
    width: 55px;
  }
}
#line-width-range {
  width: 100%;
}


#container {
  background-color: $grey-bg;
  flex: 5 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #drawarea {
    position: relative;
    height: 400px;
    width: 600px;
    .layer {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    #oplayer {
      z-index: 5;
    }
  }
}

.transparent-bg {
  background: url('../img/trans-bg.png');
}
